services:
  diarization_models:
      stdin_open: true
      tty: true
      container_name: diarization_models
      build:
        context: .
        dockerfile: Dockerfile
        secrets:
          - mytoken
      deploy:
        resources:
          reservations:
            devices:
              - driver: nvidia
                count: 1
                capabilities: [gpu]
      volumes:
        - ./:/opt/app-root
        - /home/digitalhub/Desktop/data/diarization_benchmarks:/opt/app-root/data
      secrets:
      - mytoken

secrets:
  mytoken:
    file: ./token.txt